<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zclcs.platform.system.mapper.MenuMapper">

    <sql id="baseSql">
        select *
        from (select sm.menu_id,
                     sm.parent_code,
                     sm.menu_name,
                     sm.menu_code,
                     sm.keep_alive_name,
                     sm.path,
                     sm.component,
                     sm.redirect,
                     sm.perms,
                     sm.icon,
                     sm.type,
                     sm.hide_menu,
                     sm.ignore_keep_alive,
                     sm.hide_breadcrumb,
                     sm.hide_children_in_menu,
                     sm.current_active_menu,
                     sm.order_num,
                     sm.create_at,
                     sm.update_at
              from system_menu sm) tb
            ${ew.customSqlSegment}
    </sql>
    <sql id="baseCountSql">
        select *
        from (select count(*)
              from system_menu sm) tb
            ${ew.customSqlSegment}
    </sql>
    <select id="findPageVo" resultType="com.zclcs.platform.system.api.bean.vo.MenuVo">
        <include refid="baseSql"/>
    </select>
    <select id="findListVo" resultType="com.zclcs.platform.system.api.bean.vo.MenuVo">
        <include refid="baseSql"/>
    </select>
    <select id="findOneVo" resultType="com.zclcs.platform.system.api.bean.vo.MenuVo">
        <include refid="baseSql"/>
    </select>
    <select id="countVo" resultType="java.lang.Integer">
        <include refid="baseCountSql"/>
    </select>
    <select id="findMenuCacheBeanByUsername" resultType="com.zclcs.platform.system.api.bean.cache.MenuCacheBean"
            parameterType="java.lang.String">
        SELECT sm.menu_id,
               sm.menu_code,
               sm.parent_code,
               sm.menu_name,
               sm.keep_alive_name,
               sm.path,
               sm.component,
               sm.redirect,
               sm.perms,
               sm.icon,
               sm.type,
               sm.hide_menu,
               sm.ignore_keep_alive,
               sm.hide_breadcrumb,
               sm.hide_children_in_menu,
               sm.current_active_menu,
               sm.order_num
        FROM system_menu sm
                 INNER JOIN system_role_menu srm on sm.menu_id = srm.menu_id
                 INNER JOIN system_role sr ON srm.role_id = sr.role_id
                 INNER JOIN system_user_role sur on sr.role_id = sur.role_id
                 INNER JOIN system_user su ON sur.user_id = su.user_id
        WHERE su.username = #{username}
    </select>
</mapper>
