HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/
*.log
application-local.yml


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
