<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zclcs.platform.system.biz.mapper.UserDataPermissionMapper">

    <sql id="baseSql">
        select sudp.user_id,
               sudp.dept_id,
               su.username,
               su.password,
               su.email,
               su.mobile,
               su.status,
               su.last_login_time,
               su.gender,
               su.is_tab,
               su.theme,
               su.avatar,
               su.description,
               sd.parent_id,
               sd.dept_name,
               sd.order_num
        from system_user_data_permission sudp
                 inner join system_user su on sudp.user_id = su.user_id
                 inner join system_dept sd on sudp.dept_id = sd.dept_id
            ${ew.customSqlSegment}
    </sql>
    <sql id="baseCountSql">
        select count(*)
        from system_user_data_permission sudp
                 inner join system_user su on sudp.user_id = su.user_id
                 inner join system_dept sd on sudp.dept_id = sd.dept_id
            ${ew.customSqlSegment}
    </sql>
    <select id="findPageVo" resultType="com.zclcs.platform.system.api.entity.vo.UserDataPermissionVo">
        <include refid="baseSql"/>
    </select>
    <select id="findListVo" resultType="com.zclcs.platform.system.api.entity.vo.UserDataPermissionVo">
        <include refid="baseSql"/>
    </select>
    <select id="findOneVo" resultType="com.zclcs.platform.system.api.entity.vo.UserDataPermissionVo">
        <include refid="baseSql"/>
    </select>
    <select id="countVo" resultType="java.lang.Integer">
        <include refid="baseCountSql"/>
    </select>
</mapper>
